#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
.navbar {
    padding: 0;
}

#navbar {
    background-color: $color-blue-100;
    a {
        color: $color-white;
        padding: $pd-3 $pd-4;
        border-right: $border-1;
        border-left: $border-1;
        font-size: $font-size-1;
        text-decoration: none;
        &:first-child {
            padding: 0 $pd-4;
        }
        &.active {
            background-color: $color-white;
            color: $color-blue-100;
        }
    }
    .nav-item {
        .nav-link {
            padding: $pd-3 $pd-4;
        }
        .discover-menu {
            left: unset;
            right: -30%;
            width: 40rem;
            padding: $pd-4;
            box-shadow: $box-shadow;
            border: none;
            &::before {
                @include arrow(unset, 15%);
            }
            .dropdown-item {
                &:hover {
                    background-color: transparent;
                }
            }
            .dropdown-menu-detail {
                display: flex;
                > div {
                    width: 50%;
                }
                h3 {
                    margin-bottom: $mg-2;
                    color: $color-dark-blue-200;
                    font-weight: $font-weight-bold;
                }
                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    li {
                        margin-bottom: $mg-2 - 5;
                        a {
                            color: $color-blue-200;
                            border: none;
                            padding: 0;
                            font-weight: $font-weight-bold;
                            font-size: $font-size-1;
                        }
                    }
                }
                .dropdown-detail-right {
                    padding-left: $pd-3;
                }
            }
            .dropdown-menu-social {
                margin-top: $mg-3;
                @include social-icon;
            }
        }
    }
}

.no-border {
    border: 0 !important;
}

