.container--config {
    padding: 0 $pd-7;
}

#vehicles {
    background-color: $color-blue-overlay;
    #vehicles-content {
        position: relative;
        .vehicles-nav {
            background-color: $color-white;
            text-align: center;
            padding: $pd-3 0;
            ul {
                list-style: none;
                margin: 0;
                li {
                    display: inline;
                    a {
                        padding: $pd-1 $pd-4;
                        font-weight: $font-weight-bold;
                        color: $color-dark-blue-200;
                        border-right: $border-2;
                        font-size: $font-size-1;
                        text-decoration: none;
                        &:hover {
                            color: $color-blue-200;   
                        }
                    }
                    &.active {
                        a {
                            color: $color-blue-200;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        #vehicles-list {
            background-color: $color-grey;
            padding: $pd-6;
            padding-bottom: $pd-6 * 2;
            max-height: 700px;
            .vehicles-title {
                h1 {
                    background-color: $color-grey;
                    position: relative;
                    top: $mg-up-2;
                    padding: 0 $pd-1;
                    color: $color-dark-blue-200;
                    font-weight: $font-weight-bold;
                    font-size: $font-size-3;
                    svg {
                        font-size: $font-size-3 * 0.5;
                        position: relative;
                        top: $mg-up-1;
                    }
                    span {
                        font-weight: $font-weight-normal;
                    }
                }
            }
            .vehicles-product {
                color: $color-dark-blue-200;
                margin-bottom: $mg-3;
                &:hover {
                    .vehicles-img {
                        img {
                            &:first-child {
                                display: none;
                            }
                            &:last-child {
                                display: block;
                            }
                        }
                    }
                }
                .vehicles-img {
                    img {
                        &:last-child {
                        display: none;
                        }
                    }
                }
                h2 {
                    font-size: $font-size-2;
                    font-weight: $font-weight-bold;
                    margin-bottom: $mg-1;
                }
                .vehicles-info {
                    margin-bottom: $mg-2;
                    h3 {
                        font-weight: $font-weight-normal;
                        font-size: $font-size-3;
                    }
                    p {
                        font-size: $font-size-1;
                        margin-bottom: $mg-1;
                    }
                }
            }
        }
        #vehicles-close {
            background-color: $color-grey;
            width: $vehicles-close-width;
            padding: $pd-2 0;
            text-align: center;
            position: absolute;
            left: 100% - $pd-7;
            border-top-right-radius: 7px;
            border-bottom-right-radius: 7px;
            color: $color-blue-100;
            cursor: pointer;
            &:hover {
                color: $color-dark-blue-100;
                .vehicles-circle {
                    border: 1px solid $color-dark-blue-100;
                }
            }
            .vehicles-circle {
                width: $vehicles-circle-size;
                height: $vehicles-circle-size;
                border: 1px solid $color-blue-100;
                border-radius: 50%;
                text-align: center;
                line-height: $vehicles-circle-size;
                margin: auto;
                svg {
                    font-size: $font-size-1;
                }
            }
            p {
                font-size: $font-size-1;
                font-weight: $font-weight-bold;
            }
        }
    }
}

.hide-vehicles {
    display: none;
}